.Project {
    position: relative;
    top: 9vh;
    color: white;
    background: black;
    height: 91vh;
    width: 100vw;
}

#content {
    display: flex;
    flex-wrap: wrap;
    margin: 5vh 10vw 0 10vw;
}

#back-btn {
    position: relative;
    top: 4vh;
    left: 4vh;
    background: none;
    color: white;
    border: none;
    font-size: 108%;
}
#back-btn:hover {
    color: rgb(52, 123, 145);
}

#preview-web-img {
    margin: 0 8vw 0 auto;
    width: 500px;
    height: 275px;
}

#project-title{
    margin: 0;
    color: white;
}

#description-title {
    flex-basis: 100%;
}

#coders-thoughts-title {
    flex-basis: 100%;
}

#coders-thoughts {
    flex-basis: 100%;
}

.ext-btn {
    font-weight: bolder;
    font-size: 115%;
    color: black;
    background: white;
    border: none;
    height: 4.8vh;
    margin: 1vh 2vw 0 0;
    border-radius: 0 10px 10px 0;
}

.ext-btn:hover > .project-btn-word {
    color: rgb(52, 123, 145);
}

#project-buttons {
    width: 100%;
    text-align: right;
}

.project-icon {
    position: relative;
    top: 3px;
    right: 5px;
    margin: 5px 5px 5px -11px;
    background: rgb(52, 123, 145);
    padding: 1.6vh 1vh .6vh 1vh;
    border-radius: 10px 0 0 10px
}