.Project {
    position: relative;
    top: 9vh;
    color: white;
    background: black;
    height: 91vh;
    width: 100vw;
    overflow: scroll;
}

#content {
    display: flex;
    flex-wrap: wrap;
    margin: 5vh 10vw 0 10vw;
}

#back-btn {
    position: relative;
    top: 4vh;
    left: 4vh;
    background: none;
    color: white;
    border: none;
    font-size: 108%;
}
#back-btn:hover {
    color: rgb(52, 123, 145);
}

#preview-web-img {
    margin: 0 8vw 0 auto;
    width: 500px;
    height: 275px;
}

#project-title{
    margin: 0;
    color: white;
}

#description-title {
    flex-basis: 100%;
    margin: 0;
}

#description {
    margin: 10px 0 20px 0;
    font-size: 120%;
}

#coders-thoughts-title {
    flex-basis: 100%;
    margin: 0;
}

#coders-thoughts {
    margin: 10px 0 0 0;
    flex-basis: 100%;
    font-size: 120%;
}

.ext-btn {
    font-weight: bolder;
    font-size: 115%;
    color: black;
    border: none;
    background: none;
    height: 4.8vh;
    margin: 2vh 1vw 2vh 0;
}

.ext-btn:hover > .project-btn-word {
    color: rgb(52, 123, 145);
}

#project-buttons {
    width: 100%;
    text-align: right;
}

.prj-icon-div {
    display: inline;
    margin: 0;
}

.prj-icon {
    position: relative;
    top: .5vh;
    margin: 0;
    background: rgb(52, 123, 145);
    padding: 1.6vh 1vh .6vh 1vh;
    border-radius: 10px 0 0 10px;
}

.prj-word-div {
    display: inline;
    margin:0;
}

.prj-word {
    background: white;
    margin: 0;
    padding: 1.1vh;
    border-radius: 0 10px 10px 0;
}