.Work {
    position: relative;
    top: 9vh;
    height: 91vh;
    width: 100vw;
    background: black;
    display:flex;
    justify-content: center;
}

.big-card {
    position: relative;
    opacity: 0;
    height: 60vh;
    width: 25vw;
    margin: 14.5vh 0 14.5vh 2vw;
}

.big-card:hover > .card {
    box-shadow: 0 0 20px 10px rgb(52, 123, 145);
}

.card {
    height: 60vh;
    width: 25vw;
    background: white;
    display: inline-block;
}

.card-buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 60px;
    width: 25vw;
    text-align: right;
}

.card-button {
    margin-right: 16px;
    color: white;
    font-size: 200%;
    background: none;
    border: none;
}
.card-button:hover > svg {
    color: rgb(52, 123, 145);
}

#big-card1 {
    animation-name: card;
    animation-delay: 0.2s;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

#card1 {
    position: relative;
    background-image: radial-gradient(farthest-corner at 40px 40px, #32a9ad 0%, #7376c2 100%);
    color: white;
    text-align: center;
}

#card1 > h1 {
    margin: 0;
    font-size:300%;
    font-weight: bolder;
    font-family: 'Architects Daughter';
}

#card1 > h1:nth-child(1) {
    margin-top: 23%;
}

#card1 > img {
    margin: 10% 7% 0 7%;
}

@keyframes card {
    from {
        right: 15px;
        opacity: 0;
    }
    to {
        right: 0;
        opacity: 1;
    }
}

#big-card2 {
    animation-name: card;
    animation-delay: 0.4s;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

#card2 {
    position: relative;
    background: #ee9c04;
    color: white;
    text-align: center;
}

#lets-play-chess {
    margin-top: 27%;
}

#card2 > img:nth-child(2), #card2 > img:nth-child(3) {
    margin: 20% 7% 0 7%;
}

#big-card3 {
    animation-name: card;
    animation-delay: 0.3s;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

#card3 {
    position: relative;
    background: url('../../tabletopbackground.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
}

#card3 > h1 {
    font-size: 250%;
    margin-top: 30%;
}

#portfolio-github {
    font-weight: bolder;
    position: absolute;
    bottom: 3vh;
    right: 3vh;
    color: white;
    background: none;
    border: none;
    font-size: 100%;
}

#portfolio-github:hover {
    color:rgb(52, 123, 145);
}