.Header{
    color: lightblue;
    display: flex;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 9vh;
    align-items: center;
    justify-content: space-between;
    background:rgb(5, 61, 44);
}

#title{
    margin-left: 16px;
}

.link-buttons{
    display:flex;
    align-items: center;
    justify-content: right;
}

.link-button{
    color: lightblue;
    margin-right: 20px;
    border: none;
    background: none;
    font-size: medium;
    text-align: center;
    transition: all 0.5s;
}

.link-button span{
    cursor: pointer;
    display: inline-block;
    position:relative;
    transition: 0.5s;
}

.link-button span:after{
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.link-button:hover span {
    padding-right: 25px;
}
  
.link-button:hover span:after {
    opacity: 1;
    right: 0;
}